$font_L : 48px;
$font_M : 24px;
$font_S : 18px;
$font_XS : 14px;
$backgroundColor : #181719;
$lightGrey : #A9A9A9;
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora','Montserrat', sans-serif;
}
body
{
    background-color: $backgroundColor;
}
.mobilenav
{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    background-color: $backgroundColor;
    z-index: 998;
    ul
    {
        display: flex;
        flex-direction: column;
        list-style: none;
        li
        {
            padding: 60px;
            text-align: center;
            a
            {
                color: white;
                text-decoration: none;
                font-size: $font_M;
                font-family: 'Montserrat';
                &:hover
                {
                    font-weight: bold;
                }
            }
        }
    }
}
nav
{
    display: flex;
    .logo
    {
        h2
        {
            color: white;
            font-size: $font_M;
            padding: 15px;
            border: 1px solid white;
            margin: 20px;
            white-space: nowrap;
        }
    }
    .navbar
    {
        width: 100%;
        padding: 15px;
        margin: 20px;
        display: flex;
        justify-content: flex-end;
        ul
        {
            display: flex;
            list-style: none;
            li
            {
                padding: 0px 20px;
                a
                {
                    color: white;
                    text-decoration: none;
                    font-size: $font_M;
                    font-family: 'Montserrat';
                    &:hover
                    {
                        font-weight: bold;
                    }
                }
            }
        }

    }
    .mobileMenu
    {
        padding: 15px;
        margin: 10px;
        display: none;
        z-index: 999;
        img
        {
            width: 50px;
            filter: invert(1);
        }
    }
}
.main
{
    width: 90%;
    margin: 30px auto;
    display: flex;
    .mainText
    {
        width: 45%;
        padding: 20px;
        h1
        {
            color: white;
            font-size: $font_L;
            padding: 20px;
            white-space: nowrap;
        }
        p
        {
            font-size: $font_M;
            font-family: 'Montserrat';
            padding: 20px;
            font-weight: 200;
            color: white;
        }
        .readMore
        {
            margin-top: 50px;
            p
            {
                color: white;
                font-size: $font_S;
                font-weight: bold;
                display: inline;
            }
            img
            {
                width: 30px;
                height: 30px;
                filter: invert(1);
                vertical-align: middle;
            }
        } 
    }
    .mainImage
    {
        width: 55%;
        position: relative;
        img
        {
            width: 100%;
        }
        .testimonial
        {
            position: absolute;
            bottom: -100px;
            right: 50px;
            width: 410px;
            background-color: $backgroundColor;
            .title
            {
                display: flex;
                padding: 20px;
                img
                {
                    width: 100px;
                    border-radius: 50px;
                }
                .name_job
                {
                    margin: 20px;
                    #name
                    {
                        color: white;
                        font-family: 'Montserrat';
                        font-weight: bold;
                        font-size: $font_S;
                        padding: 5px;
                    }
                    #job
                    {
                        color: $lightGrey;
                        font-family: 'Montserrat';
                        font-weight: bold;
                        font-size: $font_S - 3; 
                        padding: 5px;  
                    }
                }
            }
            .testimonial_text
            {
                width: 60%;
                padding: 20px;
                p
                {
                    font-weight: bold;
                    font-size: $font_M;
                    color:white;
                }
            }
        }
    }
}
footer
{
    margin-top: 200px;
    margin-bottom: 10px;
    p
    {
        color: $lightGrey;
        text-align: center;
    }
}
@media (max-width: 1199.98px)
{

}
@media (max-width: 991.98px)
{
    .main
    {
        .mainText
        {
            h1
            {
                font-size: $font_L - 10;
            }
        }
    }
}
@media (max-width: 767.98px)
{
    nav
    {
        .navbar
        {
            display: none;
        }
        .mobileMenu
        {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            img
            {
                &:hover
                {
                    transform : rotateZ(360deg);
                    transition: 0.6s ease;
                }
            }
        }
    }
    .main
    {
        flex-direction: column;
        .mainText
        {
            width: 100%;
        }
        .mainImage
        {
            width: 100%;
        }
    }
}
@media (max-width: 575.98px)
{
    .main
    {
        .mainImage
        {
            .testimonial
            {
                width: 300px;
                .title
                {
                    img
                    {
                        width: 70px;
                        height: 70px;
                        border-radius: 35px;
                    }
                    .name_job
                    {
                        margin: 5px 15px;
                    }
                }
                .testimonial_text
                {
                    p
                    {
                        font-size: $font_S - 3;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
.show
{
    display: flex;
}